@import url('https://fonts.googleapis.com/css2?family=Anta&display=swap');

body{
    background: linear-gradient(#e782d1,rgb(255, 0, 98));
    font-family:Anta;
}

(#e782d1,rgb(255, 0, 98));
    font-family:Anta;